.roundedImage {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:1000px;
    height:90px;
    position: absolute;
    top: 25%;
    left: 10%;
}

/*
 * POKEBALL
 */

/* animation frame! rotation movement of the pokeball */
@-webkit-keyframes spinning {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  50% {
    transform: rotate(325deg);
    -webkit-transform: rotate(325deg);
  }
  100% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@-webkit-keyframes translating {
  0% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

@-webkit-keyframes color-change {
	0%, 20%, 40%, 60%, 100% {
	    background-color: #fff;
	}
	10%, 30%, 50%, 70%, 90% {
	    background-color: #f00;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
}

#StefTastan {
	width: 715px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}

#StefTastan #moving-container {
	width: 10em;
	height: 10em;
	margin: 10px auto 70px;
	position: relative;
	-webkit-animation: translating 5s infinite;
}
/* pokeball container */
#StefTastan #pokeball-container {
	width: 10em;
	height: 10em;
	margin: 20px auto;
  	-webkit-animation: spinning 5s infinite;
}

#StefTastan #pokeball {
	width: 10em;
	height: 10em;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

#StefTastan #pokeball::before {
	content: '';
	background-color: red;
	border-radius: 5em 5em 0 0;
	width: 10em;
	height: 5em;
	position: absolute;
}

#StefTastan #pokeball .pokeball-details {
	width: 10em;
	height: 1em;
	background-color: #333;
	position: absolute;
	top: 4.5em;
}


/* the pokemon's button or whatever it is */
#StefTastan #pokeball .pokeball-details::before {
	content: '';
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	background-color: #333;
	position: absolute;
	top: -1.25em;
	left: 3.25em;
	z-index: 200;
}

#StefTastan #pokeball .pokeball-details::after {
	content: '';
	width: 1.8em;
	height: 1.8em;
	border: 0.3em solid white;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: -0.65em;
	left: 3.80em;
	margin: 0 auto;
	z-index: 250;
	-webkit-animation: color-change 3s infinite;
}


/*
 * CHARMANDER
 */

#StefTastan #charmander {
	position: relative;
	width: 10em;
	height: 12em;
	float: left;
}
#StefTastan #charmander #body {
	width: 8em;
	height: 13em;
	background-color: #e88923;
	border-radius: 5em 5em 0 0;
	z-index: 150;
	position: relative;
}

#StefTastan #charmander #feet::before {
	content: '';
	width: 2em;
	height: 2em;
	background-color: #e88923;
	border-radius: 0 0 1em 1em;
	position: absolute;
	top: 12em;
}

#StefTastan #charmander #feet::after {
	content: '';
	width: 2em;
	height: 2em;
	background-color: #e88923;
	border-radius: 0 0 1em 1em;
	position: absolute;
	top: 12em;
	left: 6em;
}

#StefTastan #charmander #eyes::before {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #fff;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	left: 1em;
}

#StefTastan #charmander #eyes::after {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #fff;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	left: 4.5em;
}

#StefTastan #charmander #pupils::before {
	content: '';
	width: 0.75em;
	height: 1.5em;
	background-color: #000;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 2em;
	left: 5.25em;
}

#StefTastan #charmander #pupils::after {
	content: '';
	width: 0.75em;
	height: 1.5em;
	background-color: #000;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 2em;
	left: 1.75em;
}

#StefTastan #charmander #nostrils::before {
	content: '';
	width: 0.25em;
	height: 0.25em;
	background-color: #000;
	border-radius: 1em;
	position: absolute;
	top: 3em;
	left: 3em;
}

#StefTastan #charmander #nostrils::after {
	content: '';
	width: 0.25em;
	height: 0.25em;
	background-color: #000;
	border-radius: 1em;
	position: absolute;
	top: 3em;
	left: 3.75em;
}

#StefTastan #charmander #mouth::before {
	content: '';
	width: 1.25em;
	height: 0.75em;
	background-color: #942e58;
	border-radius: 0 0 3em 3em;
	position: absolute;
	top: 3.75em;
	left: 2.85em;
}

#StefTastan #charmander #belly {
	content: '';
	width: 5.5em;
	height: 5.5em;
	background-color: #f8e393;
	border-radius: 2em 2em 0 2em;
	position: absolute;
	top: 7.5em;
	left: 0.5em;
	z-index: 10;
}

#StefTastan #charmander #tail::before {
	content: '';
	width: 3em;
	height: 2.75em;
	background-color: #e88923;
	border-radius: 0 0 2em 0;
	position: absolute;
	top: 10em;
	left: 8em;
	z-index: 10;
}

#StefTastan #charmander #tail::after {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #f5f5f5;
	border-radius: 0 0 50% 0;
	position: absolute;
	top: 9.50em;
	left: 8em;
	z-index: 10;
}

#StefTastan #charmander #tail-tip {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #e88923;
	border-radius: 2em 2em 0 0;
	position: absolute;
	top: 9em;
  	left: 9.5em;
	z-index: 30;
}

#StefTastan #charmander #arms::before {
	content: '';
	width: 2em;
	height: 2em;
	background-color: #e88923;
	border-radius: 2em 0 0 2em;
	position: absolute;
	top: 5.75em;
	left: -1.5em;
	z-index: 10;
}

#StefTastan #charmander #arms::after {
	content: '';
	width: 2em;
	height: 2em;
	background-color: #e88923;
	border-radius: 0 2em 2em 0;
	position: absolute;
	top: 5.75em;
	left: 7.75em;
	z-index: 10;
}

#StefTastan #charmander #flame {
	content: '';
	width: 2.5em;
	height: 2.5em;
	overflow: hidden;
  	border-bottom-right-radius: 50%;
 	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	-webkit-transform:rotate(-45deg);
	background-color: #FFB800;
	position: absolute;
	top: 8em;
	left: 9em;
	z-index: 300;

}

/*
 * BULBASAUR
 */

#StefTastan #bulbasaur {
	position: relative;
	float: left;
	left: 3em;
	width: 10em;
	height: 12em;
	top: 1em;
}
#StefTastan #bulbasaur #body {
	content: '';
	width: 12em;
	height: 7em;
	top: 5em;
	left: 2em;
	background-color: #89e1bc;
	border-radius: 0 8em 8em 8em;
	z-index: 150;
	position: absolute;
}

#StefTastan #bulbasaur #head {
	width: 9em;
	height: 7em;
	left: 1em;
	top: 1em;
	background-color: #89e1bc;
	border-radius: 1em 0 0 1em;
	z-index: 200;
	position: absolute;
}

#StefTastan #bulbasaur #eyes::before, #StefTastan #squirtle #eyes::before {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #fff;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	left: 1em;
}

#StefTastan #bulbasaur #eyes::after, #StefTastan #squirtle #eyes::after {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: #fff;
	border-radius: 1em;
	position: absolute;
	top: 2em;
	left: 4.5em;
}

#StefTastan #bulbasaur #pupils::before, #StefTastan #squirtle #pupils::before {
	content: '';
	width: 0.75em;
	height: 1.5em;
	background-color: #000;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 2em;
	left: 5.25em;
}

#StefTastan #bulbasaur #pupils::after, #StefTastan #squirtle #pupils::after {
	content: '';
	width: 0.75em;
	height: 1.5em;
	background-color: #000;
	border-radius: 0 1em 1em 0;
	position: absolute;
	top: 2em;
	left: 1.75em;
}

#StefTastan #bulbasaur #nostrils::before, #StefTastan #squirtle #nostrils::before {
	content: '';
	width: 0.25em;
	height: 0.25em;
	background-color: #000;
	border-radius: 1em;
	position: absolute;
	top: 3em;
	left: 3em;
}

#StefTastan #bulbasaur #nostrils::after, #StefTastan #squirtle #nostrils::after {
	content: '';
	width: 0.25em;
	height: 0.25em;
	background-color: #000;
	border-radius: 1em;
	position: absolute;
	top: 3em;
	left: 3.75em;
}

#StefTastan #bulbasaur .mouth, #StefTastan #squirtle #mouth {
	content: '';
	width: 1.25em;
	height: 0.75em;
	background-color: #942e58;
	border-radius: 0 0 3em 3em;
	position: absolute;
	top: 3.75em;
	left: 2.85em;
}

#StefTastan #bulbasaur #front-feet::before {
	content: '';
	width: 2em;
	height: 5em;
	background-color: #89e1bc;
	border-radius: 0 0 1em 1em;
	position: absolute;
	top: 8em;
	left: 2em;
}

#StefTastan #bulbasaur #front-feet::after {
	content: '';
	width: 2em;
	height: 5em;
	background-color: #89e1bc;
	border-radius: 0 0 1em 1em;
	position: absolute;
	top: 8em;
	left: 5em;
}

#StefTastan #bulbasaur #back-feet::before {
	content: '';
	width: 2em;
	height: 5em;
	background-color: #89e1bc;
	border-radius: 0 0 1em 1em;
	position: absolute;
	top: 8em;
	left: 12em;
}

#StefTastan #bulbasaur #back-feet::after {
	content: '';
	width: 2em;
	height: 5em;
	background-color: #89e1bc;
	border-radius: 0 0 1em 1em;
	position: absolute;
	top: 8em;
	left: 9em;
}

#StefTastan #bulbasaur #bulb::before {
	content: '';
	width: 11em;
	height: 11em;
	overflow: hidden;
  	border-bottom-right-radius: 50%;
 	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	-webkit-transform:rotate(-45deg);
	background-color: #6aac34;
	position: absolute;
	top: -1em;
	left: 5em;
}

#StefTastan #bulbasaur #bulb::after {
	content: '';
	background-color: #6aac34;
	border-radius: 0 0 3em 2em;
	position: absolute;
	top: 1em;
	left: 5em;
}


#StefTastan #bulbasaur .ears::before {
	content: '';
	width: 1em;
	height: 4em;
	left: 2em;
	top: 1em;
	background-color: #89e1bc;
	border-radius: 4em 4em 0 4em;
	z-index: 150;
	position: absolute;
	top: 0.25em;
	left: 2em;
}

#StefTastan #bulbasaur .ears::after {
	content: '';
	width: 1em;
	height: 4em;
	background-color: #89e1bc;
	border-radius: 4em 4em 0 4em;
	z-index: 150;
	position: absolute;
	top: 0.25em;
	left: 9em;
}

#StefTastan #bulbasaur .spots {
	content: '';
	background-color: #006359;
	border-radius: 1em;
	z-index: 500;
	position: absolute;
}

.spot1 {
	width: 1.5em;
	height: 1.5em;
	top: 1.25em;
  	left: 8em;
}

.spot2 {
	width: 1em;
	height: 1em;
	top: 2.25em;
	left: 9.75em;
}

.spot3 {
	width: 1em;
	height: 1em;
	top: 3em;
	left: 8.60em;
}

/*
 * SQUIRTLE
 */

#StefTastan #squirtle {
  position: relative;
  float: left;
  left: 13em;
  width: 10em;
  height: 12em;
  top: 0;
}

#StefTastan #squirtle #body {
	width: 8em;
	height: 13em;
	background-color: #ffe69c;
	border-radius: 5em 5em 2em 4em;
	z-index: 150;
	position: relative;
}

#StefTastan #squirtle #head {
	content: '';
	width: 8em;
	height: 8em;
	background-color: #94d5cd;
	border-radius: 4em;
	position: absolute;
	top: 0em;
	z-index: 300;
}

#StefTastan #squirtle #feet::before {
	content: '';
	width: 2em;
	height: 3em;
	background-color: #94d5cd;
	border-radius: 1em;
	position: absolute;
	top: 11em;
	left: 1em;
	z-index: 500;
}

#StefTastan #squirtle #feet::after {
	content: '';
	width: 2em;
	height: 3em;
	background-color: #94d5cd;
	border-radius: 1em;
	position: absolute;
	top: 11em;
	left: 5em;
	z-index: 400;
}

#StefTastan #squirtle #arms::before {
	content: '';
	width: 2em;
	height: 2em;
	background-color: #94d5cd;
	border-radius: 2em 0 0 2em;
	position: absolute;
	top: 5.75em;
	left: -1.5em;
	z-index: 10;
}

#StefTastan #squirtle #arms::after {
	content: '';
	width: 2em;
	height: 2em;
	background-color: #94d5cd;
	border-radius: 0 2em 2em 0;
	position: absolute;
	top: 5.75em;
	left: 7.75em;
	z-index: 50;
}

#StefTastan #squirtle #shell::before {
	content: '';
	width: 3em;
	height: 10em;
	background-color: #DDDBDB;
	border-radius: 0 2em 2em 0;
	position: absolute;
	top: 2.75em;
	left: 6em;
	z-index: 10;
}

#StefTastan #squirtle #shell::after {
	content: '';
	width: 3em;
	height: 8.5em;
	background-color: #bd6a00;
	border-radius: 0 3em 3em 0;
	position: absolute;
	top: 3.5em;
	left: 8em;
	z-index: 5;
}

#StefTastan #squirtle #tail::before {
	content: '';
	width: 3em;
	height: 6.5em;
	background-color: #94d5cd;
	border-radius: 0 3em 3em 0;
	position: absolute;
	top: 4.5em;
	left: 9.5em;
	z-index: 4;
}

#StefTastan #squirtle #tail::after {
	content: '';
	width: 5em;
	height: 5em;
	background-color: #94d5cd;
	border-radius: 3em;
	position: absolute;
	top: 2em;
	left: 9em;
	z-index: 4;
}


body {
  background-color: #343436;
}

.celphone {
  display: flex;
  width: 260px;
  height: 500px;
  background-color: #0A0A0A;
  border-radius: 30px;
  border: 4px solid #36353A;
  margin: 0 auto;
  box-shadow: 5px 4px 25px #fff;
}

.button {
  position: relative;
  width: 40px;
  height: 40px;
  top: 440px;
  left: 65px;
  border-radius: 50%;
  background-color: #0A0A0A;
  border: 2px solid #000;
  border-left-color: #36353A;
  border-right-color: #36353A;
  transform: rotate(-43deg);
    z-index: 999;
}

.microphone {
  width: 45px;
  height: 3px;
  position: relative;
  top: 20px;
  left: 108px;
  background-color: #0A0A0A;
  border: 1px solid #36353A;
  border-top-color: #0A0A0A;
  border-radius: 10px;
}

.set {
  width: 240px;
  height: 380px;
  background: #6CE6F6;
  background: -webkit-linear-gradient(left top, #6CE6F6, #fff);
  background: -o-linear-gradient(bottom right, #6CE6F6, #fff);
  background: -moz-linear-gradient(bottom right, #6CE6F6, #fff);
  background: linear-gradient(to bottom right, #6CE6F6, #fff);
  position: absolute;
  top: 50px;
  margin-left: 10px;
}

.set::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 250px;
  top: 130px;
  background-color: #5AA60E;
  box-shadow: 0 -5px 20px #427676;
}

.pokebola {
  width: 80px;
  height: 80px;
  background: linear-gradient(#F00001, #F00001, #F00001, #fff, #fff, #fff);
  border-radius: 50%;
  position: relative;
  top: 290px;
  left: 85px;
  z-index: 999999;
  box-shadow: inset -5px -2px 10px;
  cursor: pointer;
}

.pokebola::after {
  content: "";
  position: absolute;
  width: 82px;
  height: 10px;
  background-color: #000;
  top: 35px;
  left: -1px;
}

.pokebola::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  top: 27px;
  left: 28px;
  z-index: 999;
}

.pokemon {
  position: relative;
  widht: 80px;
  height: 200px;
  z-index: 999;
}

.body {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFE1F0;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #794C51;
}

.body::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-top-color: #FFE1F0;
  border-left-color: #FFE1F0;
  left: 110px;
  top: 10px;
}

.body::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-right-color: #FFE1F0;
  left: 115px;
  top: 10px;
}

.pokebola:hover {
  -webkit-animation: move 1s;
  -moz-animation: move 1s;
  -o-animation: move 1s;
  animation: move 1s;
}

.eye-right {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #A42D29;
  margin-top: -25px;
  margin-left: 60px;
}

.eye-right::after{
  content: "";
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  top: 41px;
  left: 135px;
}

.eye-right::before{
  content: "";
  position: absolute;
  width:10px;
  height: 10px;
  background-color: #fff;
  z-index: 99;
  border-radius: 50%;
  left: 134px;
  top: 38px;
}

.eye-left {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #A42D29;
  margin-top: 35px;
  margin-left: 15px;
}

.eye-left::after{
  content: "";
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  top: 41px;
  left: 90px;
}

.eye-left::before{
  content: "";
  position: absolute;
  width:10px;
  height: 10px;
  background-color: #fff;
  z-index: 99;
  border-radius: 50%;
  left: 90px;
  top: 38px;
}

.mouth {
  width: 15px;
  height: 12px;
  background-color: #952720;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 5px auto;
}

.mouth::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  background-color: #C75958;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 4px;
  margin-top: 2px;
}

.hair {
  width: 20px;
  height: 25px;
  background-color: #FFE1F0;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-bottom: none;
  margin-top: -120px;
  margin-left: 110px;
}

.hair::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background-color: #FFE1F0;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-bottom: none;
  left: 130px;
  transform: rotate(40deg);
}

.hair::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background-color: #FFE1F0;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-bottom: none;
  left: 90px;
  transform: rotate(-40deg);
}

.foot-left{
  margin-top: 80px;
  height: 18px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(-10deg);
  z-index: 99;
  margin-left: 84px;
}

.foot-right{
  margin-top: -17px;
  height: 18px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(13deg);
  z-index: 99;
  margin-left: 122px;
}

.arm-left{
  height: 14px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(45deg);
  margin-top: -60px;
  margin-left: 50px;
}

.arm-right{
  height: 14px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(-45deg);
  margin-top: -10px;
  margin-left: 147px;
}

.ground {
  width: 50px;
  height: 150px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  margin-top: 120px;
  margin-left: 130px;
  z-index: 1;
  transform: rotate(75deg);
  border-radius: 50%;
}

@-webkit-keyframes move {
    from {
      top: 280px;
      transform: rotate(0deg);
  }
    to {
      top: 120px;
      transform: rotate(360deg);
  }
}

@keyframes move {
    from {
      top: 280px;
      transform: rotate(0deg);
  }
    to {
      top: 120px;
      transform: rotate(360deg);
  }
}
@import "compass/css3";

$duration: 10s;

body {
  height: 100%;
  overflow: hidden;
  background: #000;
}
.loading-panel {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}
.first.loading-panel {
  left: 0;
  background: #D2E3AB;
  animation: slide-in-left $duration ease-out infinite;
}
.second.loading-panel {
  right: 0;
  background: #2A7689;
  animation: slide-in-right $duration ease-out infinite;
}


/* Icons */
.icon-wrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.3);
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}
.first.loading-panel .icon-wrapper {
  animation:
    fade $duration linear infinite,
    slide-in-bottom $duration ease-out infinite;
}
.second.loading-panel .icon-wrapper {
  animation:
    fade $duration linear infinite,
    slide-in-top $duration ease-out infinite;
}
.icon-wrapper:before {
  content: ' ';
  width: 34%;
  height: 34%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  position: absolute;
}
.first.loading-panel .icon-wrapper:before {
  top: -5%;
  left: -5%;
  animation:
    late-fade $duration linear infinite,
    circulate-clockwise ($duration / 10) linear infinite;
}
.second.loading-panel .icon-wrapper:before {
  bottom: -5%;
  right: -5%;
  animation:
    late-fade $duration linear infinite,
    circulate-counterclockwise ($duration / 10) linear infinite;
}

.icon-wrapper {
  position: relative;
  text-align: center;
}
.first.loading-panel .cloud {
  fill: #335367;
}
.second.loading-panel .cloud {
  fill: #fff;
}
.icon-wrapper .icon {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -10px;
}
.first.loading-panel .icon {
  animation: spin-clockwise ($duration / 5) ease-out infinite;
}
.second.loading-panel .icon {
  overflow: hidden;
  animation: blind-right ($duration / 7) ease-out infinite;
  left: 50%;
  margin-left: -17px;
}

/* Animations */
@keyframes slide-in-left {
  0% {
    transform: translate(-100%);
  }
  10% {
     transform: translate(0);
  }
  80% {
    transform: translate(0);
  }
  90% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translate(100%);
  }
  10% {
     transform: translate(0);
  }
  80% {
     transform: translate(0);
  }
  90% {
    transform: translate(100%);
  }
  100% {
    transform: translate(100%);
  }
}
@keyframes slide-in-bottom {
  0% {
    top: 120%;
  }
  10% {
    top: 120%;
  }
  15% {
     top: 50%;
  }
  75% {
     top: 50%;
  }
  80% {
    top: 120%;
  }
  100% {
    top: 120%;
  }
}
@keyframes slide-in-top {
  0% {
    top: -20%;
  }
  10% {
    top: -20%;
  }
  15% {
     top: 50%;
  }
  75% {
     top: 50%;
  }
  80% {
    top: -20%;
  }
  100% {
    top: -20%;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
     opacity: 1;
  }
  75% {
     opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes late-fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes circulate-clockwise {
  0% {
    transform: translate(0, 0);
  }
  25% {
     transform: translate(10%, 10%);
  }
  50% {
     transform: translate(0%, 20%);
  }
  75% {
    transform: translate(-10%, 10%);
  }
}
@keyframes circulate-counterclockwise {
  0% {
    transform: translate(0, 0);
  }
  25% {
     transform: translate(-10%, 10%);
  }
  50% {
     transform: translate(0%, 20%);
  }
  75% {
    transform: translate(10%, 10%);
  }
}
@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blind-right {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 35px;
    opacity: 1;
  }
  99% {
    width: 35px;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

*, *:before, *:after {box-sizing:border-box}

html {
	margin:0 auto;
	padding:1em 2em;
	font:normal 100%/1.5 'Helvetica Neue','Segoe UI', Arial, sans-serif;
	color:#eee;
	background:#485258;
  height:100%
	}

h1 {
	font-size:2em;
	margin-bottom:1em;
}

.menu {
	display:inline-block;
	margin:0 -.5em 1.5em;
	box-shadow:0.12em 0.12em 0 rgba(40,40,40,.2);
	list-style-type:none;
	padding:0;
	margin:0;
	font-size:1em;
	margin-bottom:1.5em;
}

.menu li {
	float:left;
	border-left:0.063em solid #a6c6cd;
	border-right:0.063em solid #6ca1ac;
}

.menu a {
	display:block;
	padding:0 1em;
	line-height:2.5em;
	position:relative;
	font-weight:bold;
	text-decoration:none;
	color:#364652;
	background-color:#86B2BB;
	text-shadow:0 0.063em 0 #a6c6cd;
}

.menu a:hover, .menu a:active, .menu a:focus {
	color:#eee;
	text-shadow:0.063em 0.063em 0 #547177;
}

.menu a[data-bubble]:after {
	content:attr(data-bubble);
	position:absolute;
   top:0;
	right:0.5em;
	height:1.5em;
	line-height:1.5em;
	padding:0 .46em;
	text-align:center;
	text-shadow:0 0.063em 0 rgba(0,0,0,.2);
	background-color:#eee;
	color:#364652;
	box-shadow:0 0.063em 0.063em rgba(0,0,0,.2);
	border-radius:4em;
	z-index:-1;
  -webkit-transform: translateZ(0);/*Prevents text flicker*/
	will-change: transform;
}

a.gold[data-bubble]:after {
	background-color:gold;
}

.menu a:hover[data-bubble]:after, .menu a:active[data-bubble]:after, .menu a:focus[data-bubble]:after {
	-webkit-animation:ease bubbleover .4s;
	animation:ease bubbleover .4s;
  -webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	top:-1.25em; /* If pseudo animation not supported [see http://css-tricks.com/transitions-and-animations-on-css-generated-content/], simple hover fallback happens*/
	z-index:1;
}

@-webkit-keyframes bubbleover {
  0%   {
  	-webkit-transform:translate(0, 1em);
  	z-index:-1
  	}
  50% {
  	-webkit-transform:translate(0, -.5em);
  	z-index:-1
  }
  100% {
  	-webkit-transform:translate(0, 0);
  	z-index:1;
  	}
}

@keyframes bubbleover {
  0%   {
    top:0;
    transform:translate(0, 0);
    z-index:-1;
    }
  50% {
    transform:translate(0, -12px);
    z-index:-1
    }
  100% {
    transform:translate(0, 6px);
    z-index:1;
    }
}

html, body{
    padding: 0px; margin: 0px;
}
.qb {
  width: 465px;
  height: 330px;
  position: relative;
	margin: 50px auto;

  /* -webkit-transform: scale(0.5, 0.5); */
  /* -moz-transform: scale(0.5, 0.5); */
}

.qb div {
  position: absolute;
}

/******************************************************
 * tail
 *****************************************************/
.qb .tail {
  z-index: 1;
}

.qb .tail .parts-1 {
  background: white;
  width: 130px;
  height: 180px;
  border: 1px solid #999;
  border-style: solid solid solid none;
  border-radius: 0px 130px 130px 0px / 0px 90px 90px 0px;
  -moz-border-radius: 0px 130px 130px 0px / 0px 90px 90px 0px;
  left: 270px;
  top: 47px;
  -webkit-transform: scale(1, 1.05) skew(0deg, -10deg);
  -moz-transform: scale(1, 1.05) skew(0deg, -10deg);
  -o-transform: scale(1, 1.05) skew(0deg, -10deg);
  -ms-transform: scale(1, 1.05) skew(0deg, -10deg);
}

.qb .tail .parts-2 {
  background: white;
  width: 85px;
  height: 80px;
  border-left: 1px solid #999;
  left: 262px;
  top: 110px;
  -webkit-transform: rotate(-13deg) skew(30deg);
  -moz-transform: rotate(-13deg) skew(30deg);
  -o-transform: rotate(-13deg) skew(30deg);
  -ms-transform: rotate(-13deg) skew(30deg);
}

.qb .tail .parts-3 {
  background: white;
  width: 48px;
  height: 73px;
  border-left: 1px solid #999;
  left: 252px;
  top: 161px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
}

.qb .tail .parts-4 {
  background: white;
  width: 90px;
  height: 50px;
  border: 1px solid #999;
  border-style: solid none none;
  top: 78px;
  left: 94px;
  -webkit-transform: rotate(-30deg) skew(20deg);
  -moz-transform: rotate(-30deg) skew(20deg);
  -o-transform: rotate(-30deg) skew(20deg);
  -ms-transform: rotate(-30deg) skew(20deg);
}

.qb .tail .parts-5 {
  background: white;
  width: 150px;
  height: 50px;
  left: 90px;
  top: 90px;
  -webkit-transform: rotate(5deg) skew(-70deg);
  -moz-transform: rotate(5deg) skew(-70deg);
  -o-transform: rotate(5deg) skew(-70deg);
  -ms-transform: rotate(5deg) skew(-70deg);
}

.qb .tail .parts-6 {
  width: 25px;
  height: 25px;
  border: 1px solid #999;
  border-style: solid solid none none;
  border-radius: 0px 25px 0px 0px;
  -moz-border-radius: 0px 25px 0px 0px;

  left: 40px;
  top: 99px;
  -webkit-transform: rotate(145deg) skew(50deg);
  -moz-transform: rotate(145deg) skew(50deg);
  -o-transform: rotate(145deg) skew(50deg);
  -ms-transform: rotate(145deg) skew(50deg);
  z-index: 2;
}

.qb .tail .parts-7 {
  width: 20px;
  height: 20px;
  border: 5px solid white;
  border-style: solid solid none none;
  border-radius: 0px 35px 0px 0px;
  -moz-border-radius: 0px 35px 0px 0px;

  left: 52px;
  top: 98px;
  -webkit-transform: rotate(76deg) scale(1, 3.7) rotate(25deg) skew(-25deg);
  -moz-transform: rotate(76deg) scale(1, 3.7) rotate(25deg) skew(-25deg);
  -o-transform: rotate(76deg) scale(1, 3.7) rotate(25deg) skew(-25deg);
  -ms-transform: rotate(76deg) scale(1, 3.7) rotate(25deg) skew(-25deg);
}

.qb .tail .parts-8 {
  background: white;
  width: 50px;
  height: 20px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-radius: 0px 0px 25px 25px / 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 25px 25px / 0px 0px 20px 20px;
  left: 90px;
  top: 135px;
  -webkit-transform: rotate(5deg) scale(3.2, 1) skew(30deg);
  -moz-transform: rotate(5deg) scale(3.2, 1) skew(30deg);
  -o-transform: rotate(5deg) scale(3.2, 1) skew(30deg);
  -ms-transform: rotate(5deg) scale(3.2, 1) skew(30deg);
}

.qb .tail .parts-9 {
  background: white;
  width: 25px;
  height: 25px;
  border: 1px solid #999;
  border-style: none none solid solid;
  left: 9px;
  top: 110px;
  -webkit-transform: rotate(25deg) scale(1.3, 0.3) rotate(45deg);
  -moz-transform: rotate(25deg) scale(1.3, 0.3) rotate(45deg);
  -o-transform: rotate(25deg) scale(1.3, 0.3) rotate(45deg);
  -ms-transform: rotate(25deg) scale(1.3, 0.3) rotate(45deg);
}

/******************************************************
 * head
 *****************************************************/
.qb .head {
  background: #fff;
  width: 160px;
  height: 120px;
  border: 1px solid #999;
  border-radius: 60px 60px 80px 80px / 70px 70px 70px 70px;
  -moz-border-radius: 60px 60px 80px 80px / 70px 70px 70px 70px;
  left: 145px;
  top: 40px;
  z-index: 3;
}

.qb .head .top {
  background: white;
  width: 100px;
  height: 100px;
  border: 1px solid #999;
  border-style: solid solid none none;
  border-radius: 0px 100px 0px 0px;
  -moz-border-radius: 0px 100px 0px 0px;
  left: 30px;
  top: -40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  z-index: 4;
}

/******************************************************
 * ear
 *****************************************************/
.qb .ear {
}

.qb .ear .parts-1 {
  background: white;
  width: 60px;
  height: 22px;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-radius: 0px 0px 62px 0px / 0px 0px 24px 0px;
  -moz-border-radius: 0px 0px 62px 0px / 0px 0px 24px 0px;

  -webkit-transform: rotate(28deg) skew(67deg);
  -moz-transform: rotate(28deg) skew(67deg);
  -o-transform: rotate(28deg) skew(67deg);
  -ms-transform: rotate(28deg) skew(67deg);
  z-index: 6;
}

.qb .ear .parts-2 {
  background: white;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  border-style: solid none none solid;
  border-radius: 40px 0px 0px 0px;
  -moz-border-radius: 40px 0px 0px 0px;
  -webkit-transform: rotate(-85deg) skew(-45deg);
  -moz-transform: rotate(-85deg) skew(-45deg);
  -o-transform: rotate(-85deg) skew(-45deg);
  -ms-transform: rotate(-85deg) skew(-45deg);
  z-index: 3;
}

.qb .ear .parts-3 {
  background: #d59487;
  width: 32px;
  height: 32px;
  border-radius: 32px 0px 0px 0px;
  -moz-border-radius: 32px 0px 0px 0px;
  -webkit-transform: rotate(-85deg) skew(-45deg);
  -moz-transform: rotate(-85deg) skew(-45deg);
  -o-transform: rotate(-85deg) skew(-45deg);
  -ms-transform: rotate(-85deg) skew(-45deg);
  z-index: 3;
}

.qb .ear.left .parts-1 {
  left: 148px;
  top: 26px;
}

.qb .ear.left .parts-2 {
  left: 130px;
  top: 22px;
}

.qb .ear.left .parts-3 {
  left: 135px;
  top: 22px;
}

.qb .ear.right .parts-1 {
  left: 240px;
  top: 25px;
  -webkit-transform: scale(-1, 1) rotate(28deg) skew(67deg);
  -moz-transform: scale(-1, 1) rotate(28deg) skew(67deg);
  -o-transform: scale(-1, 1) rotate(28deg) skew(67deg);
  -ms-transform: scale(-1, 1) rotate(28deg) skew(67deg);
}

.qb .ear.right .parts-2 {
  left: 278px;
  top: 22px;
  -webkit-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
  -moz-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
  -o-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
  -ms-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
}

.qb .ear.right .parts-3 {
  left: 281px;
  top: 22px;
  -webkit-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
  -moz-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
  -o-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
  -ms-transform: scale(-1, 1) rotate(-85deg) skew(-45deg);
}

/******************************************************
 * lop-ear
 *****************************************************/
.qb .lop-ear {
  z-index: 3;
}

.qb .lop-ear .parts-1 {
  background: white;
  width: 30px;
  height: 30px;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  border-radius: 30px 0px 0px 0px;
  -moz-border-radius: 30px 0px 0px 0px;
  left: 134px;
  top: 54px;
  -webkit-transform: rotate(35deg) scale(0.8, 1.8) rotate(-45deg);
  -moz-transform: rotate(35deg) scale(0.8, 1.8) rotate(-45deg);
  -o-transform: rotate(35deg) scale(0.8, 1.8) rotate(-45deg);
  -ms-transform: rotate(35deg) scale(0.8, 1.8) rotate(-45deg);
}

.qb .lop-ear .parts-2 {
  background: white;
  width: 28px;
  height: 85px;
  border-right: 1px solid #999;
  border-radius: 10px 0px 15px 0px;
  -moz-border-radius: 10px 0px 15px 0px;
  left: 119px;
  top: 95px;
  -webkit-transform: rotate(-22deg) skew(-30deg);
  -moz-transform: rotate(-22deg) skew(-30deg);
  -o-transform: rotate(-22deg) skew(-30deg);
  -ms-transform: rotate(-22deg) skew(-30deg);
}

.qb .lop-ear .parts-3 {
  background: white;
  width: 13px;
  height: 13px;
  border: 1px solid #999;
  border-style: solid none none solid;
  border-radius: 13px 0px 0px 0px;
  -moz-border-radius: 13px 0px 0px 0px;
  left: 114px;
  top: 126px;
  -webkit-transform: rotate(12deg) scale(0.6, 4.5) rotate(-45deg);
  -moz-transform: rotate(12deg) scale(0.6, 4.5) rotate(-45deg);
  -o-transform: rotate(12deg) scale(0.6, 4.5) rotate(-45deg);
  -ms-transform: rotate(12deg) scale(0.6, 4.5) rotate(-45deg);
}

.qb .lop-ear .parts-4 {
  background: white;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-style: solid none none solid;
  border-radius: 15px 0px 0px 0px;
  -moz-border-radius: 15px 0px 0px 0px;
  left: 120px;
  top: 194px;
  -webkit-transform: rotate(200deg) scale(0.8, 4) rotate(-45deg);
  -moz-transform: rotate(200deg) scale(0.8, 4) rotate(-45deg);
  -o-transform: rotate(200deg) scale(0.8, 4) rotate(-45deg);
  -ms-transform: rotate(200deg) scale(0.8, 4) rotate(-45deg);
}

.qb .lop-ear .parts-5 {
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-style: solid solid none none;
  border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  left: 97px;
  top: 183px;
  z-index: 1;
  -webkit-transform: rotate(21deg) scale(0.6, 2) rotate(45deg);
  -moz-transform: rotate(21deg) scale(0.6, 2) rotate(45deg);
  -o-transform: rotate(21deg) scale(0.6, 2) rotate(45deg);
  -ms-transform: rotate(21deg) scale(0.6, 2) rotate(45deg);
}


.qb .lop-ear .parts-6 {
  width: 15px;
  height: 15px;
  border: 35px solid white;
  border-style: solid solid none none;
  border-radius: 0px 50px 0px 0px;
  -moz-border-radius: 0px 50px 0px 0px;
  left: 96px;
  top: 164px;
  clip: rect(0px 50px 50px 2px);
  -webkit-transform: rotate(17deg) scale(0.6, 2.3) rotate(45deg);
  -moz-transform: rotate(17deg) scale(0.6, 2.3) rotate(45deg);
  -o-transform: rotate(17deg) scale(0.6, 2.3) rotate(45deg);
  -ms-transform: rotate(17deg) scale(0.6, 2.3) rotate(45deg);
}

.qb .lop-ear .parts-7 {
  width: 27px;
  height: 17px;
  border-radius: 1px 2px 0px 0px / 10px 10px 0px 0px;
  -moz-border-radius: 1px 2px 0px 0px / 10px 10px 0px 0px;

  background: -moz-linear-gradient(
    -90deg, white, #ffe0dd 80%, #ffe0dd
  );
  background: -webkit-gradient(
    linear, left top, left bottom, from(white), color-stop(80%, #ffe0dd), to(#ffe0dd)
  );
  background: -webkit-linear-gradient(
    -90deg, white, #ffe0dd 80%, #ffe0dd
  );
  background: -o-linear-gradient(
    -90deg, white, #ffe0dd 80%, #ffe0dd
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    GradientType=0, startColorstr='white', endColorstr='#ffe0dd'
  );

  left: 99px;
  top: 205px;
  z-index: 1;
  -webkit-transform:rotate(26deg);
  -moz-transform:rotate(26deg);
  -o-transform:rotate(26deg);
  -ms-transform:rotate(26deg);
}

.qb .lop-ear .parts-8{
  background: #ffe0dd;
  width: 8px;
  height: 47px;
  border: 1px solid #999;
  border-style: solid solid none solid;
  border-radius: 4px 4px 0px 0px / 23px 23px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px / 23px 23px 0px 0px;
  left: 84px;
  top: 204px;

  -webkit-transform: rotate(219deg);
  -moz-transform: rotate(219deg);
  -o-transform: rotate(219deg);
  -ms-transform: rotate(219deg);
}

.qb .lop-ear .parts-9{
  background: #ffe0dd;
  width: 13px;
  height: 45px;
  border: 1px solid #999;
  border-style: solid solid none solid;
  border-radius: 7px 7px 0px 0px / 23px 23px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px / 23px 23px 0px 0px;

  left: 80px;
  top: 223px;
  -webkit-transform: rotate(214deg);
  -moz-transform: rotate(214deg);
  -o-transform: rotate(214deg);
  -ms-transform: rotate(214deg);
}

.qb .lop-ear .parts-10{
  width: 13px;
  height: 44px;
  background: #ffe0dd;
  border: 1px solid #999;
  border-style: solid solid none solid;
  border-radius: 7px 7px 0px 0px / 23px 23px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px / 23px 23px 0px 0px;

  left: 88px;
  top: 234px;
  -webkit-transform: rotate(214deg);
  -moz-transform: rotate(214deg);
  -o-transform: rotate(214deg);
  -ms-transform: rotate(214deg);
}

.qb .lop-ear .parts-11{
  width: 28px;
  height: 20px;
  background: #ffe0dd;
  border-radius: 0px 5px 2px 0px / 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 2px 0px / 0px 5px 5px 0px;

  left: 91px;
  top: 218px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
}

.qb .spot{
  width: 10px;
  height: 10px;
  background: #bd2b62;
  border-radius: 5px;
  -moz-border-radius: 5px;
  z-index: 1;
}

.qb .lop-ear .spot-1{
  left: 112px;
  top: 210px;
  -webkit-transform: rotate(22deg) scale(0.5, 1.4);
  -moz-transform: rotate(22deg) scale(0.5, 1.4);
  -o-transform: rotate(22deg) scale(0.5, 1.4);
  -ms-transform: rotate(22deg) scale(0.5, 1.4);
}

.qb .lop-ear .spot-2{
  left: 103px;
  top: 205px;
  -webkit-transform: rotate(23deg) scale(0.4, 1.4);
  -moz-transform: rotate(23deg) scale(0.4, 1.4);
  -o-transform: rotate(23deg) scale(0.4, 1.4);
  -ms-transform: rotate(23deg) scale(0.4, 1.4);
}

.qb .lop-ear .spot-3{
  left: 100px;
  top: 199px;
  -webkit-transform: rotate(23deg) scale(0.3, 1);
  -moz-transform: rotate(23deg) scale(0.3, 1);
  -o-transform: rotate(23deg) scale(0.3, 1);
  -ms-transform: rotate(23deg) scale(0.3, 1);
}

.qb .lop-ear.right {
  left: 451px;
  top: -1px;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

/******************************************************
 * ring
 *****************************************************/
.qb .ring div{
  width: 30px;
  height: 30px;
  border: 3px solid #fffaa3;
  border-style: solid solid none none;
  border-radius:15px;
  -moz-border-radius: 15px;
}

.qb .ring.left .parts-1{
  left: 108px;
  top: 155px;
  -webkit-transform: rotate(110deg) scale(1.2, 2.5) rotate(45deg) ;
  -moz-transform: rotate(110deg) scale(1.2, 2.5) rotate(45deg) ;
  -o-transform: rotate(110deg) scale(1.2, 2.5) rotate(45deg) ;
  -ms-transform: rotate(110deg) scale(1.2, 2.5) rotate(45deg) ;

  z-index: 4
}

.qb .ring.left .parts-2{
  border-color: #f3e781;
  left: 108px;
  top: 155px;
  -webkit-transform: rotate(-70deg) scale(1.2, 2.5) rotate(45deg) ;
  -moz-transform: rotate(-70deg) scale(1.2, 2.5) rotate(45deg) ;
  -o-transform: rotate(-70deg) scale(1.2, 2.5) rotate(45deg) ;
  -ms-transform: rotate(-70deg) scale(1.2, 2.5) rotate(45deg) ;

  z-index: 2;
}

.qb .ring.right .parts-1{
  left: 308px;
  top: 155px;
  -webkit-transform: rotate(60deg) scale(1.2, 2.5) rotate(45deg) ;
  -moz-transform: rotate(60deg) scale(1.2, 2.5) rotate(45deg) ;
  -o-transform: rotate(60deg) scale(1.2, 2.5) rotate(45deg) ;
  -ms-transform: rotate(60deg) scale(1.2, 2.5) rotate(45deg) ;

  z-index: 4
}

.qb .ring.right .parts-2{
  border-color: #f3e781;
  left: 308px;
  top: 155px;
  -webkit-transform: rotate(-120deg) scale(1.2, 2.5) rotate(45deg) ;
  -moz-transform: rotate(-120deg) scale(1.2, 2.5) rotate(45deg) ;
  -o-transform: rotate(-120deg) scale(1.2, 2.5) rotate(45deg) ;
  -ms-transform: rotate(-120deg) scale(1.2, 2.5) rotate(45deg) ;

  z-index: 2;
}

/******************************************************
 * eye
 *****************************************************/
.qb .eye{
  background: #ed3a7d;
  width: 26px;
  height: 26px;
  border: 1px solid #721c2b;
  border-radius: 14px;
  -moz-border-radius: 14px;

  z-index: 5;
}

.qb .eye .small-eye{
  background: #9a0e43;
  width: 13px;
  height: 13px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-box-shadow: 0px 0px 6px #721c2b;
  -moz-box-shadow: 0px 0px 6px #721c2b;
  box-shadow: 0px 0px 6px #721c2b;
  left: 7px;
  top: 7px;
}

.qb .eye .reflection{
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: -webkit-gradient(radial, 5 5, 0, 5 5, 5,
    from(white),
    color-stop(50%, white),
    to(rgba(255, 255, 255, 0.5)));
  background: -moz-radial-gradient(center , circle, white 0%, white 30%, rgba(255, 255, 255, 0));
  background: -webkit-radial-gradient(center , circle, white 0%, white 30%, rgba(255, 255, 255, 0));
  background: -o-radial-gradient(center , circle, white 0%, white 30%, rgba(255, 255, 255, 0));

  box-shadow: 0px 0px 6px white;
  left: 15px;
  top: 3px;
}

.qb .eye.left{
  left: 20px;
  top: 35px;
}

.qb .eye.right{
  left: 112px;
  top: 35px;
}

/******************************************************
 * mouth
 *****************************************************/
.qb .mouth{
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: none solid solid none;
  border-color: #999;
  border-radius:0px 0px 8px 0px;
  -moz-border-radius: 0px 0px 8px 0px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.qb .mouth.left{
  left: 70px;
  top: 88px;
}

.qb .mouth.right{
  left: 81px;
  top: 88px;
}

/*****************************************************
 * body
 *****************************************************/
.qb .body{

}

.qb .body .line.left{
  background: white;
  width: 50px;
  height: 150px;
  border-left: 1px solid #9b917a;

  left: 195px;
  top: 110px;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  z-index: 2;

}

.qb .body .line.right{
  background: white;
  width: 50px;
  height: 150px;
  border-right: 1px solid #999;

  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -o-transform: skew(15deg);
  -ms-transform: skew(15deg);
  left: 210px;
  top: 110px;
  z-index: 2;
}

/******************************************************
 * foreleg
 *****************************************************/
.qb .foreleg div{
  background: white;
  z-index: 4;
}

.qb .foreleg.left .line.left{
  width: 10px;
  height: 80px;
  border-left: 1px solid #999;
  border-radius: 10px 0px 0px 0px / 30px 0px 0px 0px;
  -moz-border-radius: 10px 0px 0px 0px / 30px 0px 0px 0px;

  left: 197px;
  top: 233px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
}

.qb .foreleg.left .line.right{
  width: 10px;
  height: 95px;
  border-right: 1px solid #999;

  left: 208px;
  top: 220px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
}

.qb .foreleg.right .line.left{
  width: 10px;
  height: 100px;
  border-left: 1px solid #999;

  left: 228px;
  top: 215px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
}

.qb .foreleg.right .line.right{
  width: 10px;
  height: 80px;
  border-right: 1px solid #999;
  border-radius: 0px 5px 0px 0px / 0px 30px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px / 0px 30px 0px 0px;

  left: 241px;
  top: 233px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
}

.qb .hand{
  background: white;
  width: 16px;
  height: 15px;
  border: 1px solid #999;
  border-style: none solid solid solid;
  border-radius: 7px 7px 8px 8px / 6px 6px 5px 5px;
  -moz-border-radius: 7px 7px 8px 8px / 6px 6px 5px 5px;

  z-index: 3
}

.qb .hand.left{
  left: 206px;
  top: 310px;
}

.qb .hand.right{
  left: 226px;
  top: 310px;
}

.qb .hand.left .finger:nth-child(1){
  left: 1px;
  top: 8px;
}

.qb .hand.left .finger:nth-child(2){
  left: 7px;
  top: 9px;
}

.qb .hand.right .finger:nth-child(1){
  left: 5px;
  top: 9px;
}

.qb .hand.right .finger:nth-child(2){
  left: 10px;
  top: 9px;
}

/******************************************************
 * backleg
 *****************************************************/

.qb .backleg{
  background: white;
  width: 106px;
  height: 73px;
  border: 1px solid #999;
  border-style: none solid solid solid;
  border-radius: 30px 30px 40px 40px / 40px 40px 50px 50px;
  -moz-border-radius: 30px 30px 40px 40px / 40px 40px 50px 50px;

  left: 174px;
  top: 230px;
  z-index: 3;
}

.qb .foot{
  width: 30px;
  height: 23px;
  background: white;
  border: 1px solid #999;
  border-radius: 15px / 10px;
  -moz-border-radius: 15px / 10px;

  z-index: 2;
}

.qb .foot.left{
  left: 187px;
  top: 286px;
}

.qb .foot.right{
  left: 235px;
  top: 286px;
}

.qb .foot.left .finger:nth-child(1){
  left: 3px;
  top: 15px;
}

.qb .foot.left .finger:nth-child(2){
  left: 12px;
  top: 18px;
}

.qb .foot.right .finger:nth-child(1){
  left: 12px;
  top: 18px;
}

.qb .foot.right .finger:nth-child(2){
  left: 20px;
  top: 17px;
}

/******************************************************
 * finger
 *****************************************************/
.qb .finger{
  width: 4px;
  height: 4px;
  border: 1px solid #999;
  border-style: solid solid none none;
  border-radius: 0px 3px 0px 0px;
  -moz-border-radius: 0px 3px 0px 0px;
}

.qb .left .finger{
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

.qb .right .finger{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/******************************************************
 * shadow
 *****************************************************/
.qb .shadow{
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-90deg, black, transparent) no-repeat;
  z-index: 7;
  opacity: 0.4;
  -webkit-animation: drop-shadow 10s linear 0s;
}

@-webkit-keyframes drop-shadow{
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0.4;
  }
}
.qb:hover .shadow{
  display: none;
}

.qb .shadow .face-shadow{
  top: 23px;
  left: 145px;
  width: 160px;
  height: 110px;
  border-radius: 50% 50% 50% 50%  / 70px 70px 20px 20px;
  background: -webkit-linear-g
